@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%; 
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .textBox {
    position: relative;
    max-width: 600px;
}

.main .textBox h2 {
    color: #333;
    font-size:4em;
    line-height:1.4em;
    font-weight: 500;
}

.main .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.main .textBox p {
    color: #333;
}

.main .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}

.main .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-left: 50px;
    margin-top: 50px;
}

.main .imgBox img {
    max-width: 340px;
}

.drinks {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.drinks li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.drinks li:hover {
    transform: translateY(-15px);
}

.drinks li img {
    max-width: 60px;
}

.socials {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socials li {
    list-style: none;
}

.socials li a {
    display: inline-block;
}